/**Animaciones**/

@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}

body,
html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.hidden-item {
    visibility: hidden!important;
}

a.nav-link:hover {
    color: #6610f2!important;
}

::-webkit-scrollbar {
    width: 0px;
}

.page-white {
    margin-top: 12em;
    height: 80% !important;
    background-color: white;
    max-width: 100% !important;
}

.page-white-sm {
    margin-top: 5em;
    background-color: white;
    height: auto;
}

.page-purple {
    background: #6610f2;
    max-width: 100% !important;
    color: white;
}

.shadow-3 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1) !important;
}

.grid figure {
    position: relative;
    float: left;
    border-radius: 25px;
    overflow: hidden;
    margin: 10px 1%;
    text-align: center;
}

.grid figure img {
    border-radius: 25px;
}

.grid figure figcaption {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure h2 {
    font-weight: 500;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    font-size: 100%;
}

figure.effect-gradient figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #6610f2;
    background: linear-gradient(360deg, #6610f2 50%, rgba(255, 255, 255, 0) 100%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.effect-gradient h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 3rem;
    color: transparent;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

figure.effect-gradient figcaption::before,
figure.effect-gradient p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-gradient p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    font-size: 1.5rem;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-gradient:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-gradient:hover figcaption::before,
figure.effect-gradient:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
    .grid figure p.p-lg {
        font-size: 75%;
    }
    .grid figure h2 {
        display: none;
    }
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}